

.userProfileContainerParent{
    height: 100%;
}

.title {
    margin-top: 1rem;

}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: stretch;
    min-height: 93%;
    margin-top: 5rem;
}

.nameInput, .emailInput, .passwordInput{
    width: 60%;
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.formContainer label {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}
.formContainer button{
    width: 20%;
    height: 3rem;
    margin-bottom: 4rem;
    margin-right: 5rem;
}
.submitButtonContainer{
    min-height: 30vh;
    justify-content: end;
    display: flex;
    align-items: end;
}
